
<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<title>@ViewData["Title"] - School43_ASP.NET</title>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/School43_ASP.NET.styles.css" asp-append-version="true" />

</head>

<body class="antialiased">

	<header>
		<div class="container px-0 border-bottom py-3 fs-5 w-100">
			<div class="row w-100">
				<div class="col-lg-6 col-md-6 col-sm-12 align-items-center d-flex align-items-center  justify-content-lg-start justify-content-md-start justify-content-sm-center">
					<a asp-controller="Home" asp-action="Index" class="d-flex align-items-center link-opacity-25-hover link-dark text-decoration-none">
						<img src="/build/imgs/logo.png" class="w-auto" style="height: 70px" alt="logo">
					</a>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12 d-flex align-items-center">
					<ul class="nav w-100 justify-content-lg-end justify-content-md-end justify-content-sm-center">
						<li class="nav-item d-flex">
							<div class="d-flex align-items-center"><i class="fa fa-phone px-1" style="font-size: 18px; color:#2e86de" aria-hidden="true"></i></div>
							<a href="tel:+79494531981" class="nav-link p-0 link-dark link-opacity-25-hover">+7 949 453-19-81</a>
						</li>
						<li class="nav-item d-flex">
							<div class="d-flex align-items-center"><i class="fa fa-map-marker px-1" style="font-size: 18px; color:#2e86de" aria-hidden="true"></i></div>
							<div class="d-flex align-items-center link-dark link-opacity-25-hover">г.Донецк, ул.Артема, д.192-г, кв.85</div>
						</li>
						<li class="nav-item d-flex ms-2">
							<a href="" class="d-flex align-items-center link-dark link-opacity-25-hover">Выход</a>
						</li>
					</ul>
				</div>
			</div>
		</div>

		<nav class="bg-body-tertiary">
			<div class="container">
				<ul class="nav w-100 d-flex justify-content-center">
					<li class="nav-item"><a asp-controller="Home" asp-action="Index"class="nav-link link-dark link-opacity-25-hover py-2 px-2">Главная</a></li>
					<li class="nav-item"><a asp-controller="Worker" asp-action="Index" class="nav-link link-dark link-opacity-25-hover py-2 px-2">О нас</a></li>
					<li class="nav-item dropdown">
						<a class="nav-link link-dark link-opacity-25-hover px-2 " id="teachprocess">
							Учебный процесс
						</a>
						<ul class="p-0 py-2 drop-link" style="z-index: 1000; width: 150px; overflow-wrap:break-word;">
							<li><a asp-controller="Resource" asp-action="Index" class="dropdown-item text-wrap link-dark" >
									Дистанционное образование
								</a>
							</li>
							<li><a class="dropdown-item link-dark" href="">Расписание</a></li>
						</ul>
					</li>
					<li class="nav-item"><a asp-controller="News" asp-action="Index" class="nav-link link-dark link-opacity-25-hover py-2 px-2">Новости</a></li>
					<li class="nav-item"><a asp-controller="Home" asp-action="Contacts"  class="nav-link link-dark link-opacity-25-hover py-2 px-2">Контакты</a></li>
				</ul>
			</div>
		</nav>
	</header>

		<main role="main" class="pb-3">
		@RenderBody()
		</main>


   <!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
	<!-- Section: Social media -->
	<section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
		<!-- Left -->
		<div class="me-5 d-none d-lg-block">
			<span>Наши социальные сети:</span>
		</div>
		<!-- Left -->

		<!-- Right -->
		<div class="fs-4">
			<a href="" class="me-4">
				<i class="fa fa-vk" aria-hidden="true"></i>
			</a>

		</div>
		<!-- Right -->
	</section>
	<!-- Section: Social media -->

	<!-- Section: Links  -->
	<section class="">
		<div class="container text-center text-md-start mt-5">
			<!-- Grid row -->
			<div class="row mt-3">
				<!-- Grid column -->
				<div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
					<!-- Content -->
					<h6 class="text-uppercase fw-bold mb-4 fs-5">
						<i class="fa fa-graduation-cap" aria-hidden="true"></i>
						МБОУ "ШКОЛА № 43 ГОРОДА ДОНЕЦКА"
					</h6>

				</div>
				<!-- Grid column -->

				<!-- Grid column -->
				<div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
					<!-- Links -->
					<h6 class=" fw-bold mb-4 fs-5">
						Ссылки
					</h6>
					<p>
						<a asp-controller="Home" asp-action="Index" class="nav-link link-dark">Главная</a>
					</p>
					<p>
						<a asp-controller="Worker" asp-action="Index" class="nav-link link-dark">О нас</a>
					</p>
					<p>
						<a asp-controller="Resource" asp-action="Index"  class="nav-link link-dark">Дистанционное обучение</a>
					</p>
					<p>
						<a asp-controller="News" asp-action="Index"   class="nav-link link-dark">Новости</a>
					</p>
					<p>
						<a asp-controller="Home" asp-action="Contacts"   class="nav-link link-dark">Контакты</a>
					</p>
				</div>
				<!-- Grid column -->

				<!-- Grid column -->
				<div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

					<h6 class="fw-bold  fs-5"><i class="fa fa-map-marker" style="color:#2e86de" aria-hidden="true"></i> Адрес</h6>
					<p class="mb-2">г.Донецк, ул.Артема, д.192-г, кв.85</p>
					<h6 class="fw-bold  fs-5"><i class="fa fa-envelope" style="color:#2e86de" aria-hidden="true"></i> E-mail</h6>
					<p>donschool43@yandex.ru</p>

				</div>
				<!-- Grid column -->

				<!-- Grid column -->
				<div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

					<h6 class="fw-bold  fs-5"><i class="fa fa-phone" style="color:#2e86de" aria-hidden="true"></i> Телефон</h6>
					<p class="mb-2">+ 7 949 453 19 81</p>
					<h6 class="fw-bold  fs-5"><i class="fa fa-clock-o" style="color:#2e86de" aria-hidden="true"></i> График работы</h6>
					<p>Пн - Пт, 8:00 - 17:00</p>

				</div>
				<!-- Grid column -->
			</div>
			<!-- Grid row -->
		</div>
	</section>
	<!-- Section: Links  -->

	<!-- Copyright -->
	<div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
		© 2023 Все права защищены. Перепечатка без активной гиперссылки запрещена.
	</div>
	<!-- Copyright -->
</footer>
<!-- Footer -->
 <script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)


</body>

</html>

